.xlabs_jqp_imageGallery {
    text-align: center;
    float: left;
    display: inline-block;
    width: 100%;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link{
    float: left;
    display: inline-block;
    width: 100%;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_item:hover {
    opacity: .45;
    filter: alpha(opacity=45);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=45);
    cursor: pointer;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_layer_item {
    width: 100%!important;
    height: auto;
    /*height: 100%;*/
    display: none;
    overflow: visible!important;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container {
    padding: 10px;
    display: inline-block;
    float: left;
    /*background: #222;*/
    width: 100%;
    text-align: center;
    max-height: 505px;
    position: relative;
    overflow: visible;
    vertical-align: baseline;
    min-height: 30%;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container.fullscreen {
    /*max-height: 500px;*/
    /*position: static;*/
    height: 100%;
    max-height: none;
    padding: 0;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .arrow {
    position: absolute;
    /*display: inline-block;*/
    top: 50%;
    margin: 0;
    width: 55px;
    height: 55px;
    z-index: 100;
    font-size: 50px;
    opacity: .6;
    filter: alpha(opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: .6;
    color: #fff;
    text-align: center;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
    background-color: #222;

}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .arrow img{
    padding: 10px;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .arrow.xlabs_prev {
    left: 0;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .arrow.xlabs_next {
    right: 0;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .close {
    position: absolute;
    /*display: inline-block;*/
    top: 28px;
    margin: 0;
    width: 55px;
    height: 55px;
    z-index: 100;
    font-size: 3em;
    opacity: .45;
    filter: alpha(opacity=45);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=45);
    -moz-opacity: .45;
    color: #fff;
    text-align: center;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    right: 0;
    background-color: #222;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .close img{
    padding: 10px;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .arrow.xlabs_prev:hover, .xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .arrow.xlabs_next:hover, .xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_not_found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_not_found i.fa {
    font-size: 6em;
    color: #333333;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_wrapper {
    /* if extra info is added in the container, like title or counter for images, set some project specific CSS here to adjust on-screen info */
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link {
    max-height: 450px;
    min-height: 200px;
    max-width: 100%;
    width: auto;
    height: auto;
    opacity: 1;
    display: inline-block;
    float: none;
    text-align: center;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link.fullscreen {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: none;
    width: 100%;
    height: 100%;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link .xlabs_jqp_imageGallery_preview_image {
    float: none;
    display: inline-block;
    max-height: 450px;
    width: auto;
    max-width: 90%;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link .xlabs_jqp_imageGallery_preview_image.fullscreen {
    max-height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link .xlabs_jqp_imageGallery_preview_image.preloading {
    opacity: .45;
}
/*.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link .xlabs_jqp_imageGallery_preview:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link .xlabs_jqp_imageGallery_preview:hover:after {
    opacity: 1;
}*/

.xlabs_jqp_imageGallery .xlabs_selected {
    opacity: .45;
    filter: alpha(opacity=45);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=45);
}

/* PRELOADER */
.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container .xlabs_jqp_imageGallery_preview_link figure.xlabs_jqp_imageGallery_preview_preloader {
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 6.250em; height: 6.250em;
    animation: rotate 2.4s linear infinite;
    display: none;
    opacity: .45;
    filter: alpha(opacity=45);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=45);
}
.xlabs_jqp_imageGallery_preview_preloader .white {
    top: 0; bottom: 0; left: 0; right: 0;
    background: white;
    animation: flash 2.4s linear infinite;
    opacity: 0;
}
.xlabs_jqp_imageGallery_preview_preloader .dot {
    position: absolute;
    margin: auto;
    width: 2.4em; height: 2.4em;
    border-radius: 100%;
    transition: all 1s ease;
}
.xlabs_jqp_imageGallery_preview_preloader .dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: #FF4444; animation: dotsY 2.4s linear infinite; }
.xlabs_jqp_imageGallery_preview_preloader .dot:nth-child(3) { left: 0; right: 0; top: 0; background: #FFBB33; animation: dotsX 2.4s linear infinite; }
.xlabs_jqp_imageGallery_preview_preloader .dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: #99CC00; animation: dotsY 2.4s linear infinite; }
.xlabs_jqp_imageGallery_preview_preloader .dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: #33B5E5; animation: dotsX 2.4s linear infinite; }
/*.dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: #888888; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(3) { left: 0; right: 0; top: 0; background: #ffffff; animation: dotsX 2.4s linear infinite; }
.dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: #ff4081; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: #2196f3; animation: dotsX 2.4s linear infinite; }*/

@keyframes rotate {
    0% { transform: rotate( 0 ); }
    10% { width: 6.250em; height: 6.250em; }
    66% { width: 2.4em; height: 2.4em; }
    100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}

@keyframes dotsY {
    66% { opacity: .1; width: 2.4em; }
    77%{ opacity: 1; width: 0; }
}
@keyframes dotsX {
    66% { opacity: .1; height: 2.4em;}
    77%{ opacity: 1; height: 0; }
}

@keyframes flash {
    33% { opacity: 0; border-radius: 0%; }
    55%{ opacity: .6; border-radius: 100%; }
    66%{ opacity: 0; }
}
/* END PRELOADER */

/* FULLSCREEN STYLES - not working??
.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container:-webkit-full-screen {
    position: static;
    width: 100vw;
    height: 100vh;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container:-moz-full-screen {
    position: static;
    width: 100vw;
    height: 100vh;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container:-ms-fullscreen {
    position: static;
    width: 100vw;
    height: 100vh;
}

.xlabs_jqp_imageGallery .xlabs_jqp_imageGallery_preview_container:fullscreen {
    position: static;
    width: 100vw;
    height: 100vh;
}*/